@import url (",/styles/header.css")

:root {
    --preto: #000000;
    --font-size: 'Poppin', 'sans serif';
    --branco:  #ffffff;
}

body {    
    background-color: var(--preto);
    color: white;
    font-size: var(--fonte-principal);
}


