@import url(",/styles/header.css");

:root {
    --preto: #000000;
    --font-size: 'Poppin', 'sans serif';
    --branco:  #ffffff;
    --azul-degrade: linear-gradient(97.54 deg, #002Fs2 35.49%, #3265899 165.37%);
}

body {    
    background-color: var(--preto);
    color: white;
    font-size: var(--fonte-principal);
}


